---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';


import FormattedDate from '../components/FormattedDate.astro';
import { Picture } from 'astro:assets';


type Props = CollectionEntry<'photography'>['data'];

const { title, description, pubDate, heroImage, location, camera, lenses } = Astro.props;
---


	

		

	
		<BaseLayout title={title}>
			<div class="container max-w-4xl">
				<a class=" text-tan/50 underline hover:text-tan duration-200" href="/photography">back</a>
				<article class="pt-12 flex flex-col justify-center items-center ">
					<!-- <div class="pb-10">
						{heroImage && <img class="rounded-xl" width={1020} height={510} src={heroImage} alt="" />}
					</div> -->
					<Picture class="rounded-xl" src={heroImage} alt={title} formats={['avif', 'webp']}  />
					
					
					
					<div class="prose dark:prose-invert prose-a:text-maya-blue">
						<div class="pt-5">
							<div class="">
								<FormattedDate date={pubDate} />
								
							</div>
							<h1 class="text-tan">{title}</h1>
							<h2 class="text-smoke-white text-lg italic">"{description}"</h2>
							
							<div class="">
								<p class="text-slate-500">Location: <span class="font-thin text-smoke-white">{location}</span></p>
								<p class="text-slate-500">Camera: <span class="font-thin text-smoke-white">{camera}</span></p>
								<p class="text-slate-500">Lenses: <span class="font-thin text-smoke-white">{lenses}</span></p>
							</div>
							<hr />
							
						</div>
						<slot />
					</div>
				</article>
			</div>
		</BaseLayout>



<style>
	
	

</style>
