---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';


import FormattedDate from '../components/FormattedDate.astro';
import { Picture } from 'astro:assets';


type Props = CollectionEntry<'photography'>['data'];

const { title, description, pubDate, heroImage } = Astro.props;
---


	

		

	
		<BaseLayout title={title}>
			<div class="container">
				<a class=" text-tan/50 underline hover:text-tan duration-200" href="/photography">back</a>
				<article class="pt-12 flex flex-col justify-center items-center">
					<!-- <div class="pb-10">
						{heroImage && <img class="rounded-xl" width={1020} height={510} src={heroImage} alt="" />}
					</div> -->
					<Picture class="rounded-xl" src={heroImage} alt={title} formats={['avif', 'webp']}  />
					
					
					<div class="prose dark:prose-invert prose-a:text-maya-blue">
						<div class="">
							<div class="">
								<FormattedDate date={pubDate} />
								
							</div>
							<h1 class="text-tan">{title}</h1>
							<hr />
						</div>
						<slot />
					</div>
				</article>
			</div>
		</BaseLayout>



<style>
	
	

</style>
