---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import { Image } from 'astro:assets';

import FormattedDate from '../components/FormattedDate.astro';



type Props = CollectionEntry<'video'>['data'];

const { title, description, pubDate, heroImage, client, author } = Astro.props;
---


	

		

	
		<BaseLayout title={title}>
			<div class="">
				<a class=" text-tan/50 underline hover:text-tan duration-200" href="/video">back</a>
				<article class="pt-12 flex flex-col justify-center items-center max-w-4xl">
					<!-- <div class="pb-10">
						{heroImage && <img class="rounded-xl" width={1020} height={510} src={heroImage} alt="" />}
					</div> -->
					<Image class="rounded-xl" src={heroImage} alt={title} />
					<div class="prose max-w-2xl dark:prose-invert prose-a:text-maya-blue">
						<div class="">
							<div class="pt-5">
								<FormattedDate date={pubDate} />
								
							</div>
							<h1 class="text-tan">{title}</h1>
							<div>
								<p class="text-slate-500">Produced by: <span class="font-thin text-smoke-white">{author}</span></p>
								<p class="text-slate-500">Client: <span class="font-thin text-smoke-white">{client}</span></p>
								
							</div>
							<hr />
						</div>
						<div class="prose-em:text-slate-500 prose-em:text-xs prose-strong:text-tan">
							<slot />
						</div>
					</div>
				</article>
			</div>
		</BaseLayout>



<style>
	
	

</style>
