---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import { Image } from 'astro:assets';


import FormattedDate from '../components/FormattedDate.astro';


type Props = CollectionEntry<'webdev'>['data'];

const { title, description, pubDate, status, heroImage } = Astro.props;
---


	

		

	
		<BaseLayout title={title}>
			<div class="">
				<a class=" text-tan/50 underline hover:text-tan duration-200" href="/webdev">back</a>
				<article class="pt-12 flex flex-col justify-center items-center max-w-4xl">
					<div class="pb-10">
						<Image class="rounded-xl" src={heroImage} alt={title} />
					</div>
					<div class="prose max-w-2xl dark:prose-invert prose-a:text-maya-blue">
						<div class="">
							<div class="">
								
								
							</div>
							<h1 class="text-tan">{title}</h1>
							<p class="text-slate-500">Status: <span class="font-thin text-smoke-white">{status}</span></p>
							<hr />
						</div>
						<div class="prose-em:text-slate-500 prose-em:text-xs prose-strong:text-tan">
							<slot />
						</div>
					</div>
				</article>
			</div>
		</BaseLayout>



<style>
	
	

</style>
