---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';

const posts = (await getCollection('video')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);


---



<BaseLayout title="JM-Video">
<div class="">

	<a class=" text-tan/50 underline hover:text-tan duration-200" href="/">home</a>
	<div class="pt-10 max-w-4xl">
		<h1 class="font-bold text-tan text-4xl">Video</h1>
		<p class="text-smoke-white/80 pt-5">This a small collection of my favorite videos that I have worked on over the years. This is the work of <span class="font-black text-tan">Vin & Wil *</span>, my video production business I operate with my partner, Kimmy :)</p>
		<br>
		<p class="text-smoke-white/80">In addition to the videos you see from Vin & Wil, I have also added in some personal projects we have worked on over the years.</p>
		<br>
		<p class="text-xs text-slate-500 italic"><span class="font-black text-base text-tan">*</span> we are rebranding at the moment, the name Vin and Wil is getting thrown out, we can do better!</p>

		
	</div>
	<section class="pt-12 max-w-4xl">
		<ul>
			{
				posts.map((post) => (
					<li>
						<a class="text-slate-400 hover:text-white" href={`/video/${post.slug}/`}>
							
							<Image src={post.data.heroImage} alt={post.data.title} />
							
							<h4 class="text-2xl font-bold">{post.data.title}</h4>
							<p class="pb-2 text-slate-500">Produced by: <span class="text-smoke-white/80 font-thin">{post.data.author}</span></p>
							<p class="text-slate-500 hidden">
								<FormattedDate date={post.data.pubDate} />
							</p>
						
						</a>
					</li>
				))
			}
		</ul>
	</section>
</div>
</BaseLayout>

<style>
	main {
		width: 960px;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	ul li {
		width: calc(50% - 1rem);
	}
	ul li * {
		text-decoration: none;
		transition: 0.2s ease;
	}
	ul li:first-child {
		width: 100%;
		margin-bottom: 1rem;
		text-align: center;
	}
	ul li:first-child img {
		width: 100%;
	}
	ul li:first-child .title {
		font-size: 2.369rem;
	}
	ul li img {
		margin-bottom: 0.5rem;
		border-radius: 12px;
	}
	ul li a {
		display: block;
	}
	
	/* ul li a:hover h4,
	ul li a:hover .date {
		color: rgba(133,196,255,1);
	} */
	ul a:hover img {
		box-shadow: var(--box-shadow);
	}
	@media (max-width: 720px) {
		ul {
			gap: 0.5em;
		}
		ul li {
			width: 100%;
			text-align: center;
		}
		ul li:first-child {
			margin-bottom: 0;
		}
		ul li:first-child .title {
			font-size: 1.563em;
		}
	}
</style>
		
	
